<div class="form-container">
    <form [formGroup]="login" (ngSubmit)="loginForm()">
        <div>
            <mat-form-field class="pass">
                <input matInput type="text" id="username" placeholder="Email" formControlName="email" required>
                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="pass">
                <input matInput placeholder="Password" autocomplete="current-password"
                    [type]="hide ? 'password' : 'text'" formControlName="password" required>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' :
                    'visibility'}}</mat-icon>
            </mat-form-field>
        </div>
        <div class="mb-2">
            <button class="btn btn-dark w-100" [disabled]="!login.valid">Login</button>
        </div>
        <div class="mb-3">
            <label class="mx-2">Don't Have An Account?</label>
            <label class="form-check-label " style="color: blue;" routerLinkActive="router-link-active">Sign Up</label>
        </div>
    </form>
</div>
<hr>
<div class="login-icons">
    <div class="icon">
        <i class="fa-brands fa-google"></i>
    </div>
    <div class="icon">
        <i class="fa-brands fa-instagram"></i>
    </div>
    <div class="icon">
        <i class="fa-brands fa-facebook-f"></i>
    </div>
</div>