.main-container {
    width: 1290px;
    max-width: 100%;
    height: 540px;
    border-radius: 10px;
    padding: 10px;
    color: #00264d;
    background-color: rgb(222, 238, 243);
}

.min-container {
    width: 1290px;
    max-width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex: 1 1 200px;
    padding: 10px;

}

.name-content {
    max-width: 100%;
    width: 300px;
    height: 500px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #00264d;
}

.drop-contents {
    width: 1000px;
    height: 100px;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}


:host ::ng-deep.p-dropdown {
    max-width: 100%;
    width: 200px;
    background-color: rgb(196, 231, 241);
    border: hidden;


}


:host ::ng-deep.p-dropdown .p-dropdown-trigger .p-dropdown-trigger-icon {
    color: #00264d;
    opacity: 0.6;
}

:host ::ng-deep.p-dropdown-label {
    color: #00264d;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;
}

:host ::ng-deep.p-dropdown .p-dropdown-item {
    cursor: pointer;
    color: #00264d;
}

:host ::ng-deep.p-dropdown .p-dropdown-item.p-highlight {
    background-color: #00264d;
    color: #fff;
}

:host ::ng-deep.p-button {
    max-width: 100%;
    border: hidden;
    width: 100px;
    background-color: rgb(196, 231, 241);
    color: #00264d;
    opacity: 0.6;

}

:host ::ng-deep.p-button:hover {
    width: 100px;
    background-color: rgb(196, 231, 241);
    color: #00264d;

}

:host ::ng-deep.p-button.customise {
    max-width: 100%;
    width: 220px;
    border: 1px solid #00264d;
}

.main-cards {
    width: 100%;
    max-width: 100%;
    height: 200px;
    gap: 10px;
    max-height: 100%;
    margin-top: -20px;
    color: #00264d;
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex: 1 1 200px;
}

.card1 {
    max-width: 100%;
}

.card2 {
    max-width: 100%;
}

.card3 {
    max-width: 100%;
}

.card4 {
    max-width: 100%;
}




.icon-content {
    justify-items: baseline;
}

.doller-icons {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
    font-weight: 400;
}

.icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.graph-content {
    width: 100%;
    height: 200px;
    background-color: rgb(89, 92, 95);
}